:root{
    --primary-color:#742C36;
}

body{
    margin:0;
}

h1,h3,p ,#contact-me,#mail{
    font-family: 'Corinthia', cursive;
}

h1{
    color: var(--primary-color);
    font-weight: 700;
    font-size:80px;
    padding-left: 70px;
}

h3{
    padding-left: 150px ;
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 600;

}

p{
    font-size: 28px;
    margin-top: 100px;
    padding: 30px 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.673);
}

.hero-homepage{
    background-color: antiquewhite;
    background-image: url(/images/study1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:400px 0 ;
    background-position: center center;
    background-attachment: fixed;
}

.center-homepage{
    background-color: antiquewhite;
    background-image: url(/images/photo1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:0 0 270px 0;
    background-position: center center;
    background-attachment: fixed;
}

.hero-about-page{
    background-color: antiquewhite;
    background-image: url(/images/laptop.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:400px 0 ;
    background-position: center center;
    background-attachment: fixed;
}

.center-about-page{
    background-color: antiquewhite;
    background-image: url(/images/code.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:270px 0;
    background-position: center center;
    background-attachment: fixed;
}

.bottom-about-page{
    background-color: antiquewhite;
    background-image: url(/images/coding.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding:270px 0;
    background-position: center center;
    background-attachment: fixed;
}



#first,#second {
    margin-top: 100px;
}

#link{
    font-size: 45px;
    text-decoration: none;  
    padding-left: 550px;
}

#img{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

#about-me{
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding:65px 0 50px 0;
}

#bottom{
    background-color:whitesmoke;
}

#mail-link, #mail-link:hover{
    text-decoration: none;
    color: black;
    font-size: 36px;
}

@media only screen and (max-width:767px){
    
    .hero-homepage{
        background-image: url(/images/study2.jpeg);
    }

    .center-homepage{
        background-image: url(/images/photo2.jpg);
        padding: 0 0 50px 0;
    }

    h1{
        padding-left: 25px; 
    }

    h3{
        padding-left: 50px;
    }

    #link{
        padding-left: 300px;
    }
    #first,#second {
        margin: 0px;
    }
    #about-me{
        margin: 0;
        padding:20px 0 0 0;
    }

}

@media (min-width:768px) and (max-width:1300px){
    
    .center-homepage{
        background-image: url(/images/photo2.jpg);
    }
    #first,#second {
        margin-top: 20px;
    }
}

@media (max-width:376px) {
    
    h1{
        font-size: 50px;
    }

    h3{
        font-size: 40px;
    }
   p{
    margin-top: 40px;
   }
   #img{
    margin-top: 40px;
   }
   .center-homepage{
    padding-bottom: 80px;
   }


}
